{{ define "content" }}
    {{ .Content }}
    {{ if eq .Params.Title "Pages for candidates" }}
        <ul>
            {{ range sort .Data.Pages ".Params.title" }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    {{ else }}
        {{ $challenges := where $.Site.Pages "Section" "challenges" }}
          <!-- this adds to Scratch a mapping of all usages of challenges -->
        {{ range where $challenges ".Params.challenges" "!=" nil }}
            {{ range .Params.challenges }}
                {{ with $.Site.GetPage "page" . }}
                    {{ $.Scratch.Add .Params.key 1 }}
                {{ end }}                             
            {{ end }}
        {{ end}}
        <!-- challenges table cards by area, 3 per row -->
        {{ $challengesByArea := $challenges.GroupByParam "area" }}
    <div>
    {{ range $i, $elemment := $challengesByArea }}
        {{ if modBool $i 3 }}
            </div>
            <!-- add class .row--flex to make every item match height of taller sibling -->
            <div class="row row--flex">
        {{ end }}
        <!-- add class .col--flex for same purpose as previous comment -->
        <div class="col-md-4 col--flex">
            {{ partial "challenge/challenges-area.html" . }}
        </div>
        {{ end }} <!-- /challenges by area -->
      </div>
    {{ end }} <!-- /for-candidates else-if -->          
    </div>  
{{ end }}