<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}


        <div id="content">
            <div class="container">
                <div class="row">

                    <main>
                        <div>
                            <p>{{ .Content }}</p>
                            {{ partial "challenge/challenges-table.html" . }}

                        </div>
                    </main>



                    <div class="col-md-3">

                    </div>

                </div>
                <!-- /.row -->
            </div>
            (dev: <a href ='/challenges/for-candidate/'>for-candidate</a>)
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
