{{ define "content" }}
<div class="row">

    <div class="col-md-8" id="blog-post">

        <div id="post-content">

            {{ partial "challenge/metadata-table.html"          . }}
            <br>
            <div class="user-edit">{{ .Content }}</div>

            {{ partial "challenge/questions.html"               . }}
            {{ partial "challenge/what-we-are-looking-for.html" . }}


        </div>
        <hr>
        <a href="/challenges">Back to all challenges</a>
        <!-- /#post-content -->
        {{ if .Site.DisqusShortname }}
            <div id="comments">
                {{ template "_internal/disqus.html" . }}
            </div>
        {{ end }}

    </div>

</div>
<!-- /.row -->
{{ end }}

                

