<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <div>
                          {{ .Content }}
                        </div>

			<div>
				
			    <h2>Contract Positions</h2>

			    <table class="table">
				<thead>
				<tr>
				    <th> Role           </th>
				    <th> Contract Type  </th>
				    <th> Location       </th>
				    <th> Apply          </th>
				</tr>
				</thead>
				<tbody>
				{{ $roles := where .Site.Pages "Type" "roles" }}
				{{ range where $roles ".Params.contract_type" "Contractor" }}
				<tr>
				    {{ partial "roles/contract_td.html" . }}
				</tr>
				{{ end }}
				</tbody>

			    </table>

			</div>

			  {{ partial "edit-link.html" . }}
                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
