@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight:  400;
	src:
		local('Roboto'),
		local('Roboto-Regular'),
		/* from https://fonts.gstatic.com/s/roboto/v18/5YB-ifwqHP20Yn46l_BDhA.eot */
		url('Roboto__400.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/roboto/v18/2UX7WLTfW3W8TclTUvlFyQ.woff */
		url('Roboto__400.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2 */
		url('Roboto__400.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac&v=v18#Roboto */
		url('Roboto__400.svg#Roboto') format('svg'),
		/* from https://fonts.gstatic.com/s/roboto/v18/zN7GBFwfMP4uA6AR0HCoLQ.ttf */
		url('Roboto__400.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src:
		local('Roboto Thin'),
		local('Roboto-Thin'),
		/* from https://fonts.gstatic.com/s/roboto/v18/PP2U5prMl9yvKSWVu6DtvPesZW2xOQ-xsNqO47m55DA.eot */
		url('Roboto_100.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/roboto/v18/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff */
		url('Roboto_100.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/roboto/v18/2tsd397wLxj96qwHyNIkxPesZW2xOQ-xsNqO47m55DA.woff2 */
		url('Roboto_100.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=hfaguKg3-IA6kBbQw6DBafesZW2xOQ-xsNqO47m55DA&skey=5473b731ec7fc9c1&v=v18#Roboto */
		url('Roboto_100.svg#Roboto') format('svg'),
		/* from https://fonts.gstatic.com/s/roboto/v18/Jzo62I39jc0gQRrbndN6nfesZW2xOQ-xsNqO47m55DA.ttf */
		url('Roboto_100.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight:  100;
	src:
		local('Roboto'),
		local('Roboto-Regular'),
		/* from https://fonts.gstatic.com/s/roboto/v18/5YB-ifwqHP20Yn46l_BDhA.eot */
		url('Roboto__100italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/roboto/v18/2UX7WLTfW3W8TclTUvlFyQ.woff */
		url('Roboto__100italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2 */
		url('Roboto__100italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac&v=v18#Roboto */
		url('Roboto__100italic.svg#Roboto') format('svg'),
		/* from https://fonts.gstatic.com/s/roboto/v18/zN7GBFwfMP4uA6AR0HCoLQ.ttf */
		url('Roboto__100italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight:  300;
	src:
		local('Roboto'),
		local('Roboto-Regular'),
		/* from https://fonts.gstatic.com/s/roboto/v18/5YB-ifwqHP20Yn46l_BDhA.eot */
		url('Roboto__300.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/roboto/v18/2UX7WLTfW3W8TclTUvlFyQ.woff */
		url('Roboto__300.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2 */
		url('Roboto__300.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac&v=v18#Roboto */
		url('Roboto__300.svg#Roboto') format('svg'),
		/* from https://fonts.gstatic.com/s/roboto/v18/zN7GBFwfMP4uA6AR0HCoLQ.ttf */
		url('Roboto__300.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight:  300;
	src:
		local('Roboto'),
		local('Roboto-Regular'),
		/* from https://fonts.gstatic.com/s/roboto/v18/5YB-ifwqHP20Yn46l_BDhA.eot */
		url('Roboto__300italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/roboto/v18/2UX7WLTfW3W8TclTUvlFyQ.woff */
		url('Roboto__300italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2 */
		url('Roboto__300italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac&v=v18#Roboto */
		url('Roboto__300italic.svg#Roboto') format('svg'),
		/* from https://fonts.gstatic.com/s/roboto/v18/zN7GBFwfMP4uA6AR0HCoLQ.ttf */
		url('Roboto__300italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight:  500;
	src:
		local('Roboto'),
		local('Roboto-Regular'),
		/* from https://fonts.gstatic.com/s/roboto/v18/5YB-ifwqHP20Yn46l_BDhA.eot */
		url('Roboto__500.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/roboto/v18/2UX7WLTfW3W8TclTUvlFyQ.woff */
		url('Roboto__500.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2 */
		url('Roboto__500.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac&v=v18#Roboto */
		url('Roboto__500.svg#Roboto') format('svg'),
		/* from https://fonts.gstatic.com/s/roboto/v18/zN7GBFwfMP4uA6AR0HCoLQ.ttf */
		url('Roboto__500.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight:  700;
	src:
		local('Roboto'),
		local('Roboto-Regular'),
		/* from https://fonts.gstatic.com/s/roboto/v18/5YB-ifwqHP20Yn46l_BDhA.eot */
		url('Roboto__700.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/roboto/v18/2UX7WLTfW3W8TclTUvlFyQ.woff */
		url('Roboto__700.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2 */
		url('Roboto__700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac&v=v18#Roboto */
		url('Roboto__700.svg#Roboto') format('svg'),
		/* from https://fonts.gstatic.com/s/roboto/v18/zN7GBFwfMP4uA6AR0HCoLQ.ttf */
		url('Roboto__700.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight:  800;
	src:
		local('Roboto'),
		local('Roboto-Regular'),
		/* from https://fonts.gstatic.com/s/roboto/v18/5YB-ifwqHP20Yn46l_BDhA.eot */
		url('Roboto__800.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/roboto/v18/2UX7WLTfW3W8TclTUvlFyQ.woff */
		url('Roboto__800.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2 */
		url('Roboto__800.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac&v=v18#Roboto */
		url('Roboto__800.svg#Roboto') format('svg'),
		/* from https://fonts.gstatic.com/s/roboto/v18/zN7GBFwfMP4uA6AR0HCoLQ.ttf */
		url('Roboto__800.ttf') format('truetype');
}
