{{ define "content" }}
    <div class="row">
        <div class="col-md-9">
            {{ .Content }}
            {{ $.Scratch.Set "roles_table_title" "Permanent Positions" }}
            {{ $.Scratch.Set "contract_type" "Permanent" }}
            {{ partial "roles/roles-table.html" . }}

            {{ $.Scratch.Set "roles_table_title" "Contract Positions" }}
            {{ $.Scratch.Set "contract_type" "Contractor" }}
            {{ partial "roles/roles-table.html" . }}

            {{ $.Scratch.Set "roles_table_title" "Upwork" }}
            {{ $.Scratch.Set "contract_type" "Upwork" }}
            {{ partial "roles/roles-table.html" . }}
            <hr/>          
        </div>        
    </div> <!-- /.row -->
{{ end }}