{{ define "content" }}
    {{ if .Params.banner }}
    <img src="{{ .Params.banner }}" class="img-responsive" alt="">
    {{ end }}

    <!-- *** LEFT COLUMN *** -->

    <div id="blog-post">

        <a href="/roles/"> back to all roles</a>
        <hr/>
        <table class="table">
            <thead>
                <tr>
                    <th> Contract Type </th>
                    <th> Location </th>
                    <th> Apply </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ .Params.contract_type }}</td>
                    <td>{{ .Params.location }}</td>
                    <td>
                        {{ if .Params.apply_link}}
                            <a href="{{ .Params.apply_link }}">here</a>
                        {{ end }}
                    </td>

                </tr>
            </tbody>

        </table>

        <div id="post-content">
            <div class="user-edit">{{ .Content }}</div>

            {{ with .Site.GetPage "page" "roles/_text/_why-join-pbx.md" }}{{ .Content }}{{ end }}
            {{ with .Site.GetPage "page" "roles/_text/_how-to-apply.md" }}{{ .Content }}{{ end }}
        </div>

        <!-- /#post-content -->
        {{ if .Site.DisqusShortname }}
        <div id="comments">
            {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}

    </div>

    <!--<div class="col-md-3">
        {{ partial "sidebar.html" . }}
    </div> -->
{{ end }}

            