<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

<div id="all">

    <header>

        {{ partial "nav.html" . }}

    </header>

    {{ partial "breadcrumbs.html" . }}

    <div id="content">
        <div class="container">

            <div class="row">


                {{ if .Params.banner }}
                <img src="{{ .Params.banner }}" class="img-responsive" alt="">
                {{ end }}

                <!-- *** LEFT COLUMN *** -->

                <div class="col-md-9" id="blog-post">

                    <a href="/roles/"> back to all roles</a>
                    <hr/>
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Contract Type </th>
                                <th> Location </th>
                                <th> Apply </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ .Params.contract_type }}</td>
                                <td>{{ .Params.location }}</td>
                                <td>
                                    {{ if .Params.apply_link}}
                                        <a href="{{ .Params.apply_link }}">here</a>
                                    {{ end }}
                                </td>

                            </tr>
                        </tbody>

                    </table>

                    <div id="post-content">
                        {{ .Content }}

                        {{ with .Site.GetPage "page" "_why-join-pbx.md" }}{{ .Content }}{{ end }}

                        {{ with .Site.GetPage "page" "_how-to-apply.md" }}{{ .Content }}{{ end }}
                    </div>

                    <!-- /#post-content -->
                    {{ if .Site.DisqusShortname }}
                    <div id="comments">
                        {{ template "_internal/disqus.html" . }}
                    </div>
                    {{ end }}

                </div>
                <!-- /#blog-post -->

                <!-- *** LEFT COLUMN END *** -->

                <!-- *** RIGHT COLUMN *** -->

                <div class="col-md-3">

                    <!-- *** MENUS AND WIDGETS *** -->

                    {{ partial "sidebar.html" . }}

                    <!-- *** MENUS AND FILTERS END *** -->

                </div>
                <!-- /.col-md-3 -->

                <!-- *** RIGHT COLUMN END *** -->

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->

    {{ partial "footer.html" . }}

</div>
<!-- /#all -->

{{ partial "scripts.html" . }}

</body>
</html>
