<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}


  <style>
      .challenge-card .title {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          padding: 10px;
          color:white;
          background-color: #8fc43e;
          font-size:125%;
      }

      .challenge-card {
          border-radius: 10px;
          background: #F2F2F2;
          border: 1px solid;
          margin-bottom:20px
      }
      .challenge-card .content {
          padding:10px;
      }

  </style>
  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">

                    <div class="col-md-12" id="blog-post">

                        <h3>Hi candidate '{{ .Title }}' </h3>
                        <div id="post-content">

                            {{ with .Site.GetPage "page" "challenges/_text/_intro.md" }}{{ .Content }}{{ end }}

                            {{ .Content }}
                            <ul>
                                {{ range .Params.challenges }}
                                    {{ with $.Site.GetPage "page" . }}
                                    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                    {{ end }}
                                {{ end }}
                            </ul>
                            {{ with .Site.GetPage "page" "challenges/_text/_how_to_submit.md" }}{{ .Content }}{{ end }}

                        </div>
                        <h3>Challenges</h3>
                            <div>
                            {{ range $index, $element :=.Params.challenges}}

                                {{ if modBool $index 3 }}
                                    </div>
                                    <div  class="row">
                                {{ end }}

                                    <div class="col-md-4">
                                        <a href="{{$.Site.Params.ghrepo}}edit/master/content/{{$.File.Path}}" target="_blank"><i class="fa fa-pencil-square-o"></i></a>
                                        {{ with $.Site.GetPage "page" . }}

                                            <div class="challenge-card">
                                                <div class="title">#{{ add $index 1 }}: {{.Title}}</div>

                                                {{ partial "challenge/metadata-table.html" . }}

                                                <div class="content">
                                                    {{ .Content }}
                                                </div>
                                                {{ partial "challenge/questions.html" . }}

                                            </div>
                                        {{ end }}
                                    </div>
                            {{ end }}
                        </div>

                        {{ with .Site.GetPage "page" "challenges/_text/_end.md" }}{{ .Content }}{{ end }}


                    </div>
                </div>
            </div>
        </div>

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
