<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "head.html" .              }}
    {{ partial "css/print-fixes.html"     }}
    {{ partial "css/challenge-card.html"  }}
    {{ partial "css/card.html"            }}
    <body>
        <div id="all">
            <header>
                {{ partial "nav.html" . }}
            </header>
            {{ partial "breadcrumbs.html" . }}
            <div id="content">
                <div class="container">
                    {{ block "content" .          }}{{ end }}
                    {{ if eq .Kind "page" }}
                        {{ partial "edit-link.html" . }}
                    {{ end }}
                </div>
                {{ partial "footer.html" . }}
            </div>
            {{ partial "scripts.html" . }}
        </div>
    </body>
</html>