<style>

    @media print {
        .card .key {
            background-color: #8fc43e !important;
            color: white !important;
        }
    }

    .card {
        border-radius: 10px;
        background: #FAFAFA;
        border: 1px solid;
        margin-bottom:20px
    }

    .card .key {
        border-top-left-radius : 10px;
        border-top-right-radius: 10px;
        padding                : 1px;
        color                  : white;
        background-color       : #8fc43e;
        font-size              : 150%;
        text-align             : center;
    }
    .card .value {
        padding:10px;
    }

</style>