<style>

    .challenge-card .title {
      border-top-left-radius : 10px;
      border-top-right-radius: 10px;
      padding                : 10px;
      color                  : white;
      background-color       : #8fc43e;
      font-size              : 125%;
    }

    .challenge-card {
      border-radius: 10px;
      background: #F2F2F2;
      border: 1px solid;
      margin-bottom:20px
    }
    .challenge-card .content {
      padding:10px;
    }
    .challenge-card img {
      width:300px;
      text-align:center;
      display:block;
    }
</style>