<style>
    @media print {

        .challenge-card .title {
            background-color: #8fc43e !important;
            color           : white   !important;
        }
        .alert-warning {
                background-color: #fcf8e4 !important;
        }

        .alert-warning th {
            background-color: #fcf8e4 !important;
        }
        .alert-warning td {
            background-color: #fcf8e4 !important;
        }
        .alert-info {
            background-color: #daedf7 !important;
        }

        #heading-breadcrumbs {
            background: url('/img/texture-bw.png') center center repeat !important;
        }
        #pbx-logo {
            height: 1000px !important;
        }
    }


    @media print {
        .difficulty-easy   { color: green      !important;}
        .difficulty-medium { color: darkorange !important;}
        .difficulty-hard   { color: darkred    !important;}
        .difficulty-TBC    { color: darkblue   !important;}

        .challenge-title b   { color: #90c348 !important;}
    }
    .difficulty-easy   { color: green     }
    .difficulty-medium { color: darkorange}
    .difficulty-hard   { color: darkred   }
    .difficulty-TBC    { color: darkblue   }

</style>