<style>
    @media print {

        .challenge-card .title {
            background-color: #8fc43e !important;
            color           : white   !important;
        }
        .alert-warning th {
            background-color: #fcf8e4 !important;
        }
        .alert-warning td {
            background-color: #fcf8e4 !important;
        }
        .alert-info {
            background-color: #daedf7 !important;
        }

        #heading-breadcrumbs {
            background: url('/img/texture-bw.png') center center repeat !important;
        }
        #pbx-logo {
            height: 1000px !important;
        }
    }

</style>