<style>
    @media print {

        .challenge-area .title {
            background-color: #8fc43e !important;
            color           : white   !important;
        }

        .challenge-card .title {
            background-color: #8fc43e !important;
            color           : white   !important;
        }
        .alert-warning {
                background-color: #fcf8e4 !important;
        }

        .alert-warning th {
            background-color: #fcf8e4 !important;
        }
        .alert-warning td {
            background-color: #fcf8e4 !important;
        }
        .alert-info {
            background-color: #daedf7 !important;
        }

        #heading-breadcrumbs {
            background: url('/img/texture-bw.png') center center repeat !important;
        }
        #pbx-logo {
            height: 1000px !important;
        }
    }


    @media print {
        .difficulty-medium   { color: green      !important;}
        .difficulty-hard     { color: darkorange !important;}
        .difficulty-expert   { color: darkblue   !important;}
        .difficulty-guru     { color: darkred   !important;}

        .challenge-title b   { color: #90c348 !important;}
    }
    .difficulty-medium       { color: green      }
    .difficulty-hard         { color: darkorange }
    .difficulty-expert       { color: darkblue   }
    .difficulty-guru         { color: darkred    }

</style>