{{ $filter_by := $.Scratch.Get "level" }}

<div class="alert alert-warning">
    Level: {{ $filter_by }}
</div>
<table class="table table-condensed table-">
    <thead>
        <th>title</th>
        <th>level</th>
        <th>area</th>
        <th>required</th>
        <th>difficulty</th>
        <th>skills</th>
        <th></th>
    </thead>
    {{ range sort .Data.Pages ".Params.title" }}
        {{ if ne .Params.hide true }}
            {{ if eq .Params.level $filter_by }}
                <tr>
                    <td><a href="{{ .Permalink }}">{{ .Title }}</a> </td>
                    <td>{{ .Params.level }}</td>
                    <td>{{ .Params.area }}</td>
                    <td>{{ if .Params.required }} yes {{else}} no {{end}}</td>
                    <td>{{ .Params.difficulty }}</td>
                    <td>{{ .Params.skills }}</td>
                    <td><a href="{{.Site.Params.ghrepo}}edit/master/content/{{.File.Path}}" target="_blank"><i class="fa fa-pencil-square-o"></i></a></td>
                </tr>
            {{ end }}
        {{ end }}
    {{ end }}
</table>
