<style>
    .metadata-table .table {
        padding: 0px;
        margin-bottom: 0px;
    }
</style>
<div class="metadata-table">
    <div class="alert-warning">
        <table class="table">
            <thead>
            <th>stage</th>
            <th>difficulty</th>
            <th>area</th>
            <!--<th>skills</th>-->
            </thead>
            <tr>
                <td>{{ .Params.level }}</td>
                <td>{{ .Params.difficulty }}</td>
                <!--<td>{{ if .Params.required }} yes {{else}} optional {{end}}</td>-->
                <td>{{ .Params.area }}</td>
                <!--<td>{{ .Params.skills }}</td>-->
            </tr>
        </table>

    </div>
</div>