<style>
    .metadata-table .table {
        padding: 0px;
        margin-bottom: 0px;
    }
</style>
<div class="metadata-table">
    <div class="alert-warning">
        <table class="table">
            <thead>
            <th>key</th>
            <th>difficulty</th>
            <th>area</th>
            <th class="hidden-lg hidden-md">skills</th>
            </thead>
            <tr>
                <td>{{ .Params.key }}</td>
                <td>
                    <span class="difficulty-{{ .Params.difficulty }}">
                        {{ .Params.difficulty }}
                    </span>
                </td>
                <!--<td>{{ if .Params.required }} yes {{else}} optional {{end}}</td>-->
                <td>{{ .Params.area }}</td>
                <td class="hidden-lg hidden-md">{{ .Params.skills }}</td>
            </tr>
        </table>

    </div>
</div>