<style>
    .demonstrated ul {
        padding:10px
    }
</style>

{{ if .Params.questions }}
    <h5>Scenarios:</h5>

    <p>
        Pick one of the following scenarios and provide an answer using a GitHub repository.
    </p>
    {{ range .Params.questions }}
        {{ $key   := index (split . ":")  0}}
        {{ $value := index (split . ":")  1}}

        <div class="alert alert-info">
            <small><i>{{ $key}}</i></small>
            <br>
            {{ $value}}

            <!-- <textarea  style="width:100%; height:100px"></textarea>-->
        </div>

    {{ end}}
{{ end }}

{{ if eq .Params.demonstrated "aaa" }}

    <h5>What we are looking for</h5>

    <table class="table demonstrated">
        <thead>
        <th>ideal</th>
        <th>bonus points</th>
        </thead>
        <tbody>
        <tr>
            <td>
                <ul>
                    {{ range .Params.demonstrated }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </td>
            <td>
                <ul>
                    {{ range .Params.very_clearly_demonstrated }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
{{ end }}

