/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.edit-link ul.github {
  list-style: none;
  padding-left: 0;
}
.edit-link ul.github li {
  display: inline-block;
}
.edit-link ul.github li a {
  display: inline-block;
  padding: 5px;
  border: solid 1px #eeeeee;
  border-radius: 0;
  color: #8FC43E;
  margin: 5px 5px 5px 0;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 700;
  font-size: 12px;
}
.edit-link ul.github li a:hover {
  color: #8FC43E;
  text-decoration: none;
  border-color: #8FC43E;
}

@media only screen and (min-width : 481px) {
   .flex-row.row {
	 display: flex;
	 flex-wrap: wrap;
   }
   .flex-row.row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
   }
  .flex-row.row:after,
  .flex-row.row:before {
	 display: flex;
  }
}


